#waste-collection-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bin-colour-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 20px;

	padding-top: 0;
	padding-bottom: 40px;
}

#suburb-selector-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#suburb-header {
	padding-right: 10px;
}

.bin-icon {
	&.red-bin {
		color: rgb(186, 0, 0);
	}

	&.black-bin {
		color: black;
	}

	&.yellow-bin {
		color: rgb(240, 240, 54);
	}

	&.green-bin {
		color: rgb(0, 73, 0);
	}
}

.preference-not-saved {
	opacity: 1;
	animation-name: preference-unsaved-anim;
	animation-duration: 0.5s;
}

.preference-saved {
	opacity: 0;
	animation-name: preference-saved-anim;
	animation-duration: 0.5s;
}

@keyframes preference-saved-anim {
	0% {
		opacity: 1;
		z-index: 3;
	}
	100% {
		opacity: 0;
		z-index: 0;
	}
}

@keyframes preference-unsaved-anim {
	0% {
		opacity: 0;
		z-index: 0;
	}
	100% {
		opacity: 1;
		z-index: 3;
	}
}

#save-preference {
	position: relative;
}

#checkmark {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid rgb(0, 255, 4);
	border-radius: 100%;
	padding: 12px;
}

.checkmark-shown {
	opacity: 1;
	z-index: 1;

	animation-name: checkmark-appear;
	animation-duration: 1s;
}

.checkmark-not-shown {
	opacity: 0;
	z-index: -9999;

	animation-duration: 1s;
}

@keyframes checkmark-appear {
	0% {
		opacity: 0;
		z-index: -9999;
	}
	100% {
		opacity: 1;
		z-index: 1;
	}
}
