#waste-collection-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bin-colour-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 20px;

	padding-top: 0;
	padding-bottom: 40px;
}

#suburb-selector-component {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#suburb-selector-component {
	gap: 10px;
}

.bin-icon {
	&.red-bin {
		color: rgb(186, 0, 0);
	}

	&.black-bin {
		color: black;
	}

	&.yellow-bin {
		color: rgb(240, 240, 54);
	}

	&.green-bin {
		color: rgb(0, 73, 0);
	}
}

.suburb-not-bookmarked {
	color: grey;
}

.suburb-bookmarked {
	color: yellow;
}

#kerbside-inaccurate-message {
	font-size: 15px;
	font-style: italic;
}
